<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>VR</title>

  <!-- Scripts -->
  <script src="/public/assets/jquery.min.js"></script>
  <script src="/public/assets/krpano/hacfinpano.js"></script>

  <style>
    @-ms-viewport {
      width : device-width;
    }

    @media only screen and (min-device-width : 800px) {
      html {
        overflow : hidden;
      }
    }

    html {
      height : 100%;
    }

    body {
      height           : 100%;
      overflow         : hidden;
      margin           : 0;
      padding          : 0;
      font-family      : Arial, Helvetica, sans-serif;
      font-size        : 16px;
      color            : #FFFFFF;
      background-color : #000000;
    }
  </style>

</head>

<body>
<div id="hacfinpano" class="krv" style="width:100%;height:100%;"></div>
</body>
</html>

<script>
  $(function () {

    embedpano({
      id                 : "hacfinpanoSWFObject",
      target             : "hacfinpano",
      xml                : "/public/assets/krpano/videoplayer.xml",
      html5              : "fallback",   //prefer时，更倾向于使用krpano HTML5播放器
                                     //fallback时 - 在可能时，更倾向于使用krpano Flash播放器。 只有在Flash不可用的时候才使用krpano HTML5播放器
                                     //HTML5设置可以用webgl或css3d来扩展 html5="auto+css3d", html5="prefer+webgl"
      wmode              : "transparent",
      swf                : "/public/assets/krpano/hacfinpano.swf",
      js                 : "/public/assets/krpano/hacfinpano.js",
      mobilescale        : 1.0,
      passQueryParameters: false //禁止在网址后面传参数（这样别人就看不到授权信息，同时自己也没法通过传参指定跳转的场景的角度等参数）
    });
  });

  //  全景播放器初始化函数
  function HacfinPano_Init() {
    var hacfinPano = document.getElementById("hacfinpanoSWFObject");

    // 添加不同分辨率的全景素材
    hacfinPano.call("add_panovideo('2K全景', '/public/res/pvideo.mp4')");
//    hacfinPano.call("add_panovideo('2K直播', 'rtmp://live.boolongo.com/live/vr')");
    // 播放特定分辨率的全景素材
    hacfinPano.call("play_panovideo('2K全景')");

    // 添加特写镜头
    hacfinPano.call("add_hotspot('板书', 945, 460, '/public/assets/krpano/xml/skin/blackboard.jpg','rtmp://192.168.1.3:1935/live/vr')");
    hacfinPano.call("add_hotspot('PPT', 1065, 460, '/public/assets/krpano/xml/skin/PPT.jpg','/public/res/ppt.mp4')");
  }

</script>