<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <form>
    <input type="button" value="SetCookie" onclick="Setcookie('name', 'testname', 10);">
    <input type="button" value="GetCookie" onclick="alert(GetCookie('name'));">
    <input type="button" value="DeleteCookie" onclick="DeleteCookie('name');">
  </form>
</body>

<script>
  //获取cookie
  function GetCookie(name) {
    var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
    if (arr = document.cookie.match(reg))
      return decodeURI(arr[2]);
    else
      return "";
  }

  //设置cookie
  //@param min 分钟数
  function Setcookie(name, value, min) {
    if (min) {
      var date = new Date();
      date.setTime(date.getTime() + (min * 60 * 1000));
      var expires = "; expires=" + date.toUTCString();
    }
    else {
      expires = "";
    }

    document.cookie = name + "=" + encodeURI(value) + expires + "; path=/";
  }

  //清除cookie
  function DeleteCookie(name) {
    var cval = GetCookie(name);
    if (cval != null) {
      document.cookie = name + "=" + encodeURI(cval) + "; expires=Fri, 31 Dec 1999 23:59:59 GMT" + ";path=/";
    }
  }
</script>

</html>