<!DOCTYPE html>
<html>
<head>
	{include file='mratchet/components/header' /}

	<title>Push</title>

	<link href="/public/css/dist/mratchet/index2.min.css" rel="stylesheet">
</head>

<body>

<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
	<h1 class="title">Push</h1>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell">
				<a class="navigate-right" href="/mratchet/index" data-transition="slide-in">
					Load new page with push
				</a>
			</li>
		</ul>
	</div>
	<div class="card">
		<!--
		1.目前只有ios7+、winphone8+支持自动播放
		2.支持Airplay的设备（如：音箱、Apple TV)播放
		x-webkit-airplay="true"
		3.播放视频不全屏，ios7、、winphone8+支持，部分android4+支持（含华为、小米、魅族）
		webkit-playsinline="true"
		4.ios 10 : playsinline
		5.ios 8、9 ：https://github.com/bfred-it/iphone-inline-video
		-->
		<video class="index-video" x-webkit-airplay="true" webkit-playsinline="true" playsinline preload="" autoplay="" controls=""
			   src="/public/res/ppt.mp4"></video>
	</div>
</div>

<script src="/public/assets/mobile/zepto.min.js"></script>
<script src="/public/scripts/dist/mratchet/index2.min.js"></script>
</body>
</html>