<!DOCTYPE html>
<html>
<head>
	{include file='mratchet/components/header' /}

	<title>Ratchet</title>
</head>


<body>
<!--模态框-->
{include file='mratchet/components/modal' /}

<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
	<button class="btn btn-link btn-nav pull-left">
		<span class="icon icon-left-nav"></span>
		返回
	</button>
	<h1 class="title">Ratchet</h1>
	<a class="icon icon-compose pull-right"></a>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
	<p class="content-padded">Thanks for downloading Ratchet. This is an example HTML page that's linked up to compiled Ratchet CSS and JS, has the proper meta tags and the HTML structure. Need some more help before you start filling this with your own content? Check out some Ratchet resources:</p>

	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell">
				<!--URL地址不变-->
				<!--将当前页面的全部内容用 mratchet/index2 的内容替换-->
				<!--有某个链接不像被push拦截,可以使用 data-ignore="push" -->
				<a class="push-right" href="/mratchet/index2" data-transition="slide-in">
					Ratchet video
				</a>
			</li>
			<li class="table-view-cell media">
				<a class="push-right" href="">
					<span class="media-object icon icon-gear pull-left"></span>
					Ratchet on Github
					<span class="badge badge-negative">4</span>
				</a>
			</li>
			<li class="table-view-cell">
				Ratchet Google group
				<button class="btn btn-primary">Button</button>
			</li>
			<li class="table-view-cell">
				Ratchet on Twitter
				<div class="toggle active">
					<div class="toggle-handle"></div>
				</div>
			</li>
		</ul>
	</div>

	<div class="card" style="border: none;">
		<form>
			<input type="text" placeholder="全名">
			<input type="search" placeholder="检索">
			<textarea rows="5"></textarea>
			<a class="btn btn-positive btn-block" href="#myModalexample">确定</a>
		</form>
	</div>
</div>
</body>
</html>