<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ScrollUp</title>

  <link type="text/css" rel="stylesheet" href="/public/assets/jquery.scrollup/css/themes/image.css"/>

  <!-- Scripts -->
  <script src="/public/assets/jquery.min.js"></script>
  <script src="/public/assets/jquery.scrollup/jquery.scrollUp.min.js"></script>
</head>

<body>
<div style="margin-top: 200px">
  第1个div
</div>

<div style="margin-top: 200px">
  第2个div
</div>

<div style="margin-top: 200px">
  第3个div
</div>

<div style="margin-top: 200px">
  第4个div
</div>

<div style="margin-top: 200px">
  第5个div
</div>

<div style="margin-top: 200px">
  第6个div
</div>

<div style="margin-top: 200px">
  第7个div
</div>

<script>
  $(function () {
    $(function () {
      $.scrollUp({
        scrollName: 'scrollUp',      // Element ID
        scrollDistance: 300,         // Distance from top/bottom before showing element (px)
        scrollFrom: 'top',           // 'top' or 'bottom'
        scrollSpeed: 300,            // Speed back to top (ms)
        easingType: 'linear',        // Scroll to top easing (see http://easings.net/)
        animation: 'fade',           // Fade, slide, none
        animationSpeed: 200,         // Animation speed (ms)
        scrollTrigger: false,        // Set a custom triggering element. Can be an HTML string or jQuery object
        scrollTarget: false,         // Set a custom target element for scrolling to. Can be element or number
        scrollText: false,           // Text for element, can contain HTML
        scrollTitle: "返回顶部",       // Set a custom <a> title if required.
        scrollImg: true,             // Set true to use image
        activeOverlay: false,        // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        zIndex: 2147483647           // Z-Index for the overlay
      });
    });
  });
</script>
</body>

</html>