@import "compass/css3";

$pf: hk- !global; //项目前缀

//*基本颜色*/
$blueBase: #03f;
$blue: #06a7e1 !global;
$blueLight: #1DB5FF !global;
$blueWhite: #88b7e0;

$yellow: #c47812 !global;
$yellowLight: #ec971f !global;

$red: #c9302c !global;
$redLight: #f4645f !global;

$green: #39a030;
$greenLight: #45db3c;

$gray: gray !global;
$grayLight: #EDEFF0 !global;
$bdcolor: #ddd;

$white: white !global;
$black: #333 !global;