<meta charset="utf-8">

<!-- Sets initial viewport load and disables zooming  -->
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--不要被百度转码-->
<meta http-equiv="cache-control" content="no-siteapp"/>
<!-- disable telephone/email detection -->
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">

<link href="/public/assets/mobile/normalize.css" rel="stylesheet">
<link href="/public/css/dist/mratchet/normalize.min.css" rel="stylesheet">
<!--取消input在ios下，输入的时候英文首字母的默认大写-->
<!--<input autocapitalize="off" autocorrect="off" />-->

<!-- Include the compiled Ratchet CSS -->
<link href="/public/assets/mobile/ratchet/css/ratchet.min.css" rel="stylesheet">
<!-- Include the compiled Ratchet JS -->
<script src="/public/assets/mobile/ratchet/js/ratchet.min.js"></script>