<!--模态框-->
<div id="myModalexample" class="modal" style="z-index: 100;">
	<header class="bar bar-nav">
		<a class="icon icon-close pull-right" href="#myModalexample"></a>
		<h1 class="title">确定界面</h1>
	</header>

	<div class="content">
		<p class="content-padded">The contents of my modal go here. Lorem ipsum dolor sit amet, consectetur
			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
			veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
	</div>
</div>